{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}

<div class="flex w-full justify-center">
    <div class="shadow hover:shadow-lg rounded px-8 py-6 my-8">
        {{ form_start(form, {'attr': {'class': 'space-y-4 w-full'}}) }}
            {{ form_errors(form) }}

            <div class="space-y-2">
                <label for="userName" class="text-sm font-medium text-gray-700">Nom d'utilisateur</label>
                {{ form_widget(form.userName, {'attr': {'class': 'w-full px-4 py-2 border border-red-700 text-sm rounded focus:ring-2 focus:outline-none outline-none hover:bg-gray-100 hover:shadow-md shadow duration-300'}}) }}
            </div>

            <div class="space-y-2">
                <label for="description" class="text-sm font-medium text-gray-700">Description</label>
                {{ form_widget(form.description, {'attr': {'class': 'w-full px-4 py-2 border border-red-700 text-sm rounded focus:ring-2 focus:outline-none outline-none hover:bg-gray-100 hover:shadow-md shadow duration-300',}}) }}
            </div>
            
            <div class="space-y-2">
                <label for="youtubeChannel" class="text-sm font-medium text-gray-700"><span class="inline-flex space-x-2">Chaîne Youtube <img class="w-5 mx-2" src="https://img.icons8.com/?size=300&id=37326&format=png&color=000000"></span></label>
                {{ form_widget(form.youtubeChannel, {'attr': {'class': 'w-full px-4 py-2 border border-red-700 text-sm rounded focus:ring-2 focus:outline-none outline-none hover:bg-gray-100 hover:shadow-md shadow duration-300'}}) }}
            </div>

            <div class="space-y-2">
                <label for="twitchUsername" class="text-sm font-medium text-gray-700"><span class="inline-flex space-x-2">Chaîne Twitch <img class="w-5 mx-2" src="https://img.icons8.com/?size=100&id=18104&format=png&color=000000"></span></label>
                {{ form_widget(form.twitchUsername, {'attr': {'class': 'w-full px-4 py-2 border border-red-700 text-sm rounded focus:ring-2 focus:outline-none outline-none hover:bg-gray-100 hover:shadow-md shadow duration-300'}}) }}
            </div>

            <div class="space-y-2">
                <label for="discordUsername" class="text-sm font-medium text-gray-700"><span class="inline-flex space-x-2">Serveur Discord<img class="w-5 mx-2" src="https://img.icons8.com/?size=300&id=YmmZ2YsHiv59&format=png&color=000000"></span></label>
                {{ form_widget(form.discordUsername, {'attr': {'class': 'w-full px-4 py-2 border border-red-700 text-sm rounded focus:ring-2 focus:outline-none outline-none hover:bg-gray-100 hover:shadow-md shadow duration-300'}}) }}
            </div>

            <div>
                {{ form_row(form.submit, { 'label': 'Confirmer les modifications', 'attr': {'class': 'h-10 bg-red-700 text-white px-4 py-2 rounded hover:bg-red-900 hover:shadow-md shadow duration-300 text-sm'}}) }}
            </div>

        {{ form_end(form) }}
    </div>

</div>

<div class="flex justify-center items-center h-screen">
    <a href="{{ path('app_delete_user', {'user': app.user.id}) }}" class="text-red-600 border px-2 py-1 border-red-600 hover:bg-red-600 hover:text-white">SUPPRIMER SON COMPTE</a>
</div>

{% block javascripts %}
{% endblock %}
{% endblock %}