{% extends 'base.html.twig' %}

{% block title %}Accueil Magic-Hub{% endblock %}

{% block body %}

{% if is_granted("ROLE_USER") %}
    <a href="{{ path('app_articleForm')}}">Rédiger un article</a>
    <a href="{{ path('app_deck_manager', {'id': user.id})}}">MES DECKSSSSS</a>
{% endif %}


<div class="row-container gradient">
    <div class="column">
        <h1 class='white title-homepage justify-center'>Bienvenue sur <br><span class="bold">Magic-Hub</span></h1>
        <div id='mana-homepage' class="row space-x-4">
            <img class="big-mana low-opacity" src='{{ asset('img/arbreuh.webp')}}'>
            <img class="big-mana low-opacity"  src='{{ asset('img/flamme.webp')}}'>
            <img class="big-mana low-opacity"  src='{{ asset('img/goutte.webp')}}'>
            <img class="big-mana low-opacity"  src='{{ asset('img/mortmort.webp')}}'>
            <img class="big-mana low-opacity"  src='{{ asset('img/soleil.webp')}}'>
        </div>
        
    </div>
    <div class="column">
        <div>
            <div id='mana-homepage' class="row space-x-2 p-4">
                <img class="low-opacity small-mana" src='{{ asset('img/arbreuh.webp')}}'>
                <img class="low-opacity small-mana"  src='{{ asset('img/flamme.webp')}}'>
                <img class="low-opacity small-mana"  src='{{ asset('img/goutte.webp')}}'>
                <img class="low-opacity small-mana"  src='{{ asset('img/mortmort.webp')}}'>
                <img class="low-opacity small-mana"  src='{{ asset('img/soleil.webp')}}'>
            </div>
        </div>
        <div>
            <p class="py-2"><a class='white slim'>Découvrir...</a></p>
            <p class="py-2"><a class='white slim'>Chercher...</a></p>
            <p class="pt-2 pb-6"><a class='white slim'>Construire...</a></p>
        </div>

        <div class="ninety">
            <div class="searchDiv">
                <input type="text" class="search-field w-full rounded-md border-gray-200 p-2 py-2.5 pe-10 shadow-sm sm:text-sm" name="search" id="searchId" placeholder="Cherchez une carte...">
                <button class="searchIcon" type="button" id="researchStart">
                    <svg  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="33" height="33" viewBox="0 0 50 50">
                    <path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"></path>
                    </svg>
                </button>
            </div>

            <div class="row center">
                <a class="white border-solid border-2 p-1 mx-6 my-3 rounded sm:text-sm">RECHERCHE AVANCEE</a>
                <a class="white border-solid border-2 p-1 mx-6 my-3 rounded sm:text-sm">TOUS LES SETS</a>
                <a class="white border-solid border-2 p-1 mx-6 my-3 rounded sm:text-sm">CARTE ALEATOIRE</a>
            </div>
        </div>
        
    </div>
</div>
<main>
    <div id="cardBoard" class="board"></div>
</main>


{% block javascripts %}


<script>
    console.log('This log comes from assets/app.js - welcome to AssetMapper! 🎉');

    document.addEventListener('DOMContentLoaded', function() { // le script se déclenche uniquement une fois le DOM chargé
    
        const searchInput = document.getElementById('searchId'); //on récupère l'élément qui sert de barre de recherche à l'utilisateur
        const researchButton = document.getElementById('researchStart'); // on récupère le bouton qui doit déclenche la recherche
        const cardBoard = document.getElementById('cardBoard'); // récupère la div dans laquelle les images et lien vers le détail des cartes récupérées seront insérées
    
        researchButton.addEventListener('click', function() { // on ajoute une fonction qui se déclenche au clic de l'utilisateur sur le bouton qui doit déclencher la recherche
            const query = searchInput.value; // on attribue la valeur saisie par l'utilisateur à une variable query qu'on va utiliser dans la requête envers l'api
    
            //requête à l'api selon la recherche de l'utilisateur
            // fetch(`https://api.scryfall.com/cards/search?q=name:${query}+lang:fr`) recherche pour une carte en français spécifiquement
            fetch(`https://api.scryfall.com/cards/search?q=name:${query}`)
                // Convertit la réponse en format JSON
                .then(response => response.json())
                // Une fois que les données JSON sont disponibles
                .then(data => {
                 //   console.log(data); Vérifie le format des données
    
                    if (data.data && Array.isArray(data.data)) { // on vérifiqe qu'on récupère bien des données de l'api, et quelle soit sous forme de tableau
    
                        const myNode = document.getElementById("cardBoard"); // permet de réinitialiser l'affichage des cartes, si l'utilisateur appuie une nouvelle fois sur le bouton de recherche, les cartes affichées précédemment sont enlevées
                            if (myNode) {
                                while (myNode.firstChild) {// tant que cardBoard a des enfants (les cartes que l'on affiche)
                                    myNode.removeChild(myNode.lastChild); // on enlève le dernier enfant de cardBoard jusqu'à ce qu'il n'y en ait plus
                                }
                            }
    
                        data.data.forEach(card => { 
    
                            if (card.image_uris && card.image_uris.normal) {
                                let displayCard = new Image(250,350); // créé un nouvel élément <img> d'une taille fixe
                                displayCard.src = `${card.image_uris.normal}`; // j'attribue la source de l'image à l'url correspondant à l'image que je souhaite afficher (plusieurs tailles possibles)
                                displayCard.id = `${card.id}` // attribution de l'id scryfall de la carte à l'id de l'élément html image généré
                                displayCard.classList.add('singleCard'); // on ajoute une classe singleCard si manipulation en css nécessaire
        
                                // Crée un élément <a> pour envelopper l'image
                                var cardDetailUrl = "{{ path('app_card_detail', {'cardId': 'REPLACE_CARD_ID' })}}"; //on attribue le chemin vers le détail de la carte à la variable cardDetailUrl
                                let link = document.createElement("a"); // on créé un élément <link> que l'on attribue à la variable link
                                let url = cardDetailUrl.replace('REPLACE_CARD_ID', card.id);
                                link.href = url; // on attribue le lien vers la carte au href du de l'élément HTML créé pour renvoyer vers le détail de la carte
    
                                link.appendChild(displayCard);//  l'image est ajoutée au lien créé précédemment
                                cardBoard.appendChild(link) // on ajoute le lien à la div qui affiche les carte (le l'image est ajoutée au lien, qui lui même est ajouté à la div cardBoard)
                           
                            } else if(card.card_faces[0]['image_uris'] && card.card_faces[0]['image_uris']['normal']) { // les cartes doubles faces ont une architecture JSON différente des cartes "normales" on ne peut pas accéder à à l'id de la meme façon
                                // exception qui récupère la premiere face de la carte double face sinon ne s'affichent pas
                            console.log('carte double face')
                            let displayCard = new Image(250,350); 
                            displayCard.src = `${card.card_faces[0]['image_uris']['normal']}`;
                            displayCard.id = `${card.id}` 
                            displayCard.classList.add('singleCard'); 
    
                            var cardDetailUrl = "{{ path('app_card_detail', {'cardId': 'REPLACE_CARD_ID' })}}"; 
                            let link = document.createElement("a"); 
                            let url = cardDetailUrl.replace('REPLACE_CARD_ID', card.id);
                            link.href = url; 

                            link.appendChild(displayCard);//  l'image est ajoutée au lien créé précédemment
                            cardBoard.appendChild(link)
                        }
                        });
                    } else {
                        console.error('Erreur: la réponse de l\'API ne contient pas un tableau de cartes dans "data"');
                    }
                })
                .catch(error => console.error('Erreur:', error));
        });
    
    });
</script>
{% endblock %}
{% endblock %}

 


