{% extends 'base.html.twig' %}

{% block title %}Accueil Magic-Hub{% endblock %}

{% block body %}


<div class="flex min-h-screen flex-wrap justify-center dragon"> <!--gradient-->
    <div class="flex flex-wrap w-4/5 justify-center">

        <div class="flex flex-col justify-center mx-auto">
            {# <div class="inline-flex space-x-6 text-white averia-serif-libre-light">
                <h2 class="">[ Constructeur de deck</h2>
                <span>|</span>
                <h2>Recherche de carte</h2>
                <span>|</span>
                <h2>Communauté ]</h2>
            </div> #}
            <h1 class='white title-homepage justify-center averia-serif-libre-regular'>Bienvenue sur <br><span class="bold">Magic-Hub</span></h1>
            <div id='mana-homepage' class="row space-x-4 mt-4">
                <img class="big-mana low-opacity animate-spin-slow" src='{{ asset('img/arbreuh.webp')}}'>
                <img class="big-mana low-opacity animate-spin-slow"  src='{{ asset('img/flamme.webp')}}'>
                <img class="big-mana low-opacity animate-spin-slow"  src='{{ asset('img/goutte.webp')}}'>
                <img class="big-mana low-opacity animate-spin-slow"  src='{{ asset('img/mortmort.webp')}}'>
                <img class="big-mana low-opacity animate-spin-slow"  src='{{ asset('img/soleil.webp')}}'>
            </div>
            
        </div>
        <div class="flex flex-col justify-center items-end space-y-10 mx-auto ">

            <div>
                {# <div id='mana-homepage' class="row space-x-2 p-4">
                    <img class="low-opacity small-mana" src='{{ asset('img/arbreuh.webp')}}'>
                    <img class="low-opacity small-mana"  src='{{ asset('img/flamme.webp')}}'>
                    <img class="low-opacity small-mana"  src='{{ asset('img/goutte.webp')}}'>
                    <img class="low-opacity small-mana"  src='{{ asset('img/mortmort.webp')}}'>
                    <img class="low-opacity small-mana"  src='{{ asset('img/soleil.webp')}}'>
                </div> #}
            </div>
            <div class="space-y-2">
                <div class="inline-flex space-x-4 text-white averia-serif-libre-light">
                    <h2 class="">[ Constructeur de deck</h2>
                    <span>|</span>
                    <h2>Recherche de cartes</h2>
                    <span>|</span>
                    <h2>Communauté ]</h2>
                </div>
                <p class="text-center text-white averia-serif-libre-light">100% dédié à Magic The Gathering</p>
            </div>


            <div class="ninety">
                <div class="flex justify-center">
                    <input type="text" class="search-field w-4/5 rounded-md border-gray-200 p-2 py-2.5 pe-10 shadow-sm sm:text-sm focus:outline-none" name="search" id="searchId" placeholder="Cherchez une carte...">
                    <a id="searchUrl" href="#" class="text-white font-semibold border-2 ml-2 p-2 border-white rounded-md hover:bg-white hover:text-red-700 duration-300">
                        GO
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>


            const searchUrl = "{{ path('app_search', {'search': 'active', 'parameter': 'PLACEHOLDER'}) }}"

            let link = document.getElementById('searchUrl')
            link.addEventListener('click', function() {
            let placeholder = document.getElementById('searchId').value

            if (!placeholder) {
                link.href = "{{ path('app_search', {'search': 'basic', 'parameter': 'none'}) }}";
            } else {
                let updatedUrl = searchUrl.replace('PLACEHOLDER', placeholder);
                link.href = updatedUrl;
            }
        })
    
        
    </script>
{% endblock %}


 


