{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="flex flex-wrap justify-center">
    <div class="w-4/5 m-8 inline-flex justify-items">

        <div class="flex flex-col items-center justify-center h-64 w-64 space-y-4 border rounded p-6 mx-auto">
            <h1>
                {{ user.userName }}
            </h1>

            <p class="text-sm space-x-4">
                <a class="hover:underline hover:text-red-800 text-" href="{{ path('app_user_list', {'user': user.id, 'param': 'followed'}) }}">
                    <span id="followers">{{ user.followedUsers|length }}</span> abonnements
                </a>
                <a class="hover:underline hover:text-red-800 text-" href="{{ path('app_user_list', {'user': user.id, 'param': 'following'}) }}">
                    <span id="following">{{ user.followingUsers|length }}</span> abonnés
                </a>
            </p>
            <p class="text-sm">
                <span id="following" class="pl-2"></span> a rejoint le {{ user.creationDate|date('d/m/Y') }}
            </p>

            <div>
                <p class="text-xs font-semibold">
                    {% if user.discordUsername is same as 'discord.gg/' %}
                        {% else %}
                        {{ user.discordUsername }}
                    {% endif %}
                </p>
                <p class="text-xs font-semibold">
                    {% if user.twitchUsername is same as 'twitch.tv/' %}
                        {% else %}
                    {{ user.twitchUsername }}
                    {% endif %}
                </p>
                <p class="text-xs font-semibold">
                    {% if user.youtubeChannel is same as 'youtube.com/' %}
                        {% else %}
                    {{ user.youtubeChannel }}
                    {% endif %}
                </p>
            </div>

            <div class="flex flex-col justify-end h-full">
                {% if app.user %}
                    {% if app.user is same as user %}
                        <a href="{{ path('app_profile_edit', {'user': app.user.id}) }}" class="text-xs px-2 py-1 bg-red-700 text-white rounded-md hover:bg-white hover:text-red-700 duration-300">
                            Modifier le profil
                        </a>
                        {# Check if the current user is already following the profile #}
                    {% elseif user in app.user.followedUsers  %}
                        <p class="text-sm italic text-gray-700">Vous suivez cet utilisateur.</p>
                        <a href="{{ path('app_user_unfollow', {'unfollowedUser': user.id, 'location': 'profile'}) }}" class="text-xs hover:underline hover:text-red-800">(Ne plus suivre)</a>
                    {% else %}
                    <a href="{{ path('app_user_follow', {'followedUser': user.id}) }}" class="text-xs px-2 py-1 bg-red-700 text-white rounded-md hover:bg-white hover:text-red-700 duration-300">
                        Suivre
                    </a>
                    {% endif %}
                {% else %}
                    <p class="text-sm italic text-gray-700">Vous devez être connecté pour suivre un profil.</p>
                {% endif %}
            </div>
        </div>
        {% if user.twitchUsername is not same as 'twitch.tv/' and user.twitchUsername is not null %}
        <iframe class="mx-auto"
        src="https://player.twitch.tv/?channel={{ user.twitchUsername[10:] }}&parent=127.0.0.1&muted=true"

        width="720"
        allowfullscreen>
    </iframe> 
        {% endif %}
         

        <div class="flex flex-col text-center justify-center justify-items mx-auto shadow-md rounded-md p-8 min-w-52">
            <h3 class="hidden">Description</h3>
            <p class="text-sm">
                {% if user.description is not null %}
                    {{ user.description }}
                    {% else %}
                    Aucune description pour le moment...   
                {% endif %}
            </p>
        </div>

    </div>
</div>

        <!-- Decks Section -->
        <div class="flex flex-col" x-data="{ showMyDecks: false, showFavDecks: false }">
            <div class="flex justify-center space-x-4">
                <!-- Button to toggle "Mes decks" -->
                <button class="text-sm px-2 py-1 border border-red-700 rounded hover:bg-red-800 hover:text-white duration-300"
                        x-on:click="showMyDecks = !showMyDecks; showFavDecks = false">
                    {% if app.user is same as user %}
                        Mes decks
                    {% else %}
                        Decks de {{ user.userName }}
                    {% endif %}
                </button>
                
                {% if app.user is same as user %}
                <!-- Button to toggle "Decks favoris" -->
                <button class="text-sm px-2 py-1 border border-red-700 rounded hover:bg-red-800 hover:text-white duration-300"
                        x-on:click="showFavDecks = !showFavDecks; showMyDecks = false">
                    Decks favoris
                </button>
                {% endif %}
            </div>
            
            <div class="w-full flex justify-center mt-6">
                <!-- "Mes decks" table -->
                <div class="text-sm w-full" x-show="showMyDecks" x-transition>
                    <table class="table-auto w-full text-left border-collapse">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="px-4 py-2">Couleurs</th>
                                <th class="px-4 py-2">Nom du deck</th>
                                <th class="px-4 py-2">Format</th>
                                <th class="px-4 py-2">Commentaires</th>
                                <th class="px-4 py-2">Likes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deck in user.decks %}
                            <tr class="hover:bg-gray-100">
                                <td class="border px-4 py-2">couleurs</td>
                                <td class="border px-4 py-2">
                                    <a class="hover:underline hover:text-red-700" href="{{ path('app_deck_builder', {'id': deck.id, 'state': 'Main'}) }}">
                                        {{ deck.deckName }}
                                    </a>
                                </td>
                                <td class="border px-4 py-2 italic">{{ deck.format.formatName }}</td>
                                <td class="border px-4 py-2">{{ deck.comments|length }}</td>
                                <td class="border px-4 py-2">{{ deck.likes|length }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="border px-4 py-2" colspan="5">Aucun deck trouvé</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {% if app.user is same as user %}
                <!-- "Decks favoris" table -->
                <div class="text-sm w-full" x-show="showFavDecks" x-transition>
                    <table class="table-auto w-full text-left border-collapse">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="px-4 py-2">Couleurs</th>
                                <th class="px-4 py-2">Nom du deck</th>
                                <th class="px-4 py-2">Format</th>
                                <th class="px-4 py-2">Commentaires</th>
                                <th class="px-4 py-2">Likes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deck in app.user.decksLiked %}
                            <tr class="hover:bg-gray-100">
                                <td class="border px-4 py-2">couleurs</td>
                                <td class="border px-4 py-2">
                                    <a class="hover:underline hover:text-red-700" href="{{ path('app_deck_builder', {'id': deck.id, 'state': 'Main'}) }}">
                                        {{ deck.deckName }}
                                    </a>
                                </td>
                                <td class="border px-4 py-2 italic">{{ deck.format.formatName }}</td>
                                <td class="border px-4 py-2">{{ deck.comments|length }}</td>
                                <td class="border px-4 py-2">{{ deck.likes|length }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="border px-4 py-2" colspan="5">Aucun deck favori trouvé</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>

        </div>
        
        {% if app.user is not same as user and app.user in user.followedUsers %}
            <form action="{{ path('chatting') }}" method="POST">
                <input type="hidden" value="{{ user.id }}" id="otherUserId" name="otherUserId">
                <input type="submit"  class="btn btn-primary" value="Chat with {{ user.userName }}">
            </form>
        {% endif %}



{% if app.user and app.user is same as user %}

     {% if messages is defined %}
     <div class="shadow p-6">
        <h2>Dernières conversations</h2>
            {% for author in messages %}
            <form action="{{ path('chatting') }}" method="POST">
                <input type="hidden" value="{{ author.id }}" id="otherUserId" name="otherUserId">
                <input type="submit"  class="btn btn-primary" value="{{ author.userName }}">
            </form>
            {% endfor %}
    </div>
     {% endif %}       

    {% if app.user.followingUsers is not empty %}
    <h2>Select a user to chat with</h2>
    {% endif %}
    <ul>
        {% for user in app.user.followingUsers %}
            <li>
                <form action="{{ path('chatting') }}" method="POST">
                    <input type="hidden" value="{{ user.id }}" id="otherUserId" name="otherUserId">
                    <input type="submit"  class="btn btn-primary" value="Chat with {{ user.userName }}">
                </form>
            </li>
        {% endfor %}
    </ul>     
{% endif %}



{# {% block javascripts %}

    
const url = new URL('http://localhost:3000/.well-known/mercure');
url.searchParams.append('topic', 'conversation_{{ conversation.id }}');

const eventSource = new EventSource(url);

eventSource.onmessage = function(event) {
    const data = JSON.parse(event.data);
    const chatBox = document.getElementById('chat-box');
    
    const newMessage = document.createElement('div');
    newMessage.classList.add('message');
    newMessage.innerHTML = `<strong>${data.author}:</strong> ${data.content}`;
    
    chatBox.appendChild(newMessage);
};




{% endblock %} #}
{% endblock %}