{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="flex flex-wrap justify-center">
    <div class="w-4/5 m-8">
        <div class="flex flex-col items-center justify-center h-64 w-64 space-y-4 border rounded p-6">
                
            <h1>
                {{ user.username }}
            </h1>

            <p class="text-sm space-x-4">
                <span id="following">{{ user.followingUsers|length }}</span> abonnés
                <span id="followers">{{ user.followedUsers|length }}</span> abonnements
            </p>
            <p class="text-sm">
                <span id="following" class="pl-2"></span> a rejoint {{ user.creationDate|date('d/m/Y') }}
            </p>
            
            <div class="flex flex-col justify-end h-full">
                {% if app.user %}
                    {% if app.user is same as user %}
                        <a href="{{ path('app_profile_edit', {'user': app.user.id}) }}" class="text-xs px-2 py-1 bg-red-700 text-white rounded-md hover:bg-white hover:text-red-700 duration-300">
                            Modifier le profil
                        </a>
                        {# Check if the current user is already following the profile #}
                    {% elseif user in app.user.followedUsers  %}
                        <p class="text-sm italic text-gray-700">Vous suivez cet utilisateur.</p>
                    {% else %}
                    <a href="{{ path('app_user_follow', {'followedUser': user.id}) }}" class="text-xs px-2 py-1 bg-red-700 text-white rounded-md hover:bg-white hover:text-red-700 duration-300">
                        Suivre
                    </a>
                    {% endif %}
                {% else %}
                    <p class="text-sm italic text-gray-700">Vous devez être connecté pour suivre un profil.</p>
                {% endif %}
            </div>
        </div>


        <div class="flex flex-col" x-data="{ showMyDecks: false, showFavDecks: false }">
            <div class="flex justify-center space-x-4">
                <!-- Button to toggle "Mes decks" -->
                <button class="text-sm px-2 py-1 border border-red-700 rounded hover:bg-red-800 hover:text-white duration-300"
                        x-on:click="showMyDecks = !showMyDecks; showFavDecks = false">
                        {% if app.user is same as user %}
                        Mes decks
                        {% else %}
                            Decks de {{ user.userName }}
                        {% endif %}
                </button>
                {% if app.user is same as user %}
                <!-- Button to toggle "Decks favoris" -->
                <button class="text-sm px-2 py-1 border border-red-700 rounded hover:bg-red-800 hover:text-white duration-300"
                        x-on:click="showFavDecks = !showFavDecks; showMyDecks = false">
                    Decks favoris
                </button>
                {% endif %}
            </div>
            <div class="w-full flex justify-center">
                <!-- "Mes decks" content -->
                <div class="text-sm" x-show="showMyDecks" x-transition>
                    
                        <ul class="list-none">
                            {% for deck in user.decks %}
                            <a class="hover:underline hover:text-red-700" href="{{ path('app_deck_builder', {'id': deck.id, 'state': 'Main'}) }}">
                                <li><span class="mr-4">couleurs</span>{{ deck.deckName }} <span class="mr-4 italic">({{ deck.format.formatName }})</span></li>
                            </a>
                            {% endfor %}
                        </ul>
                </div>
                {% if app.user is same as user %}
                <!-- "Decks favoris" content -->
                <div class="text-sm" x-show="showFavDecks" x-transition>
                    <ul class="list-none">
                        {% for deck in app.user.decksLiked %}
                        <a class="hover:underline hover:text-red-700" href="{{ path('app_deck_builder', {'id': deck.id, 'state': 'Main'}) }}">
                            <li><span class="mr-4">couleurs</span>{{ deck.deckName }} par {% if app.user is same as deck.user %}
                                (moi)
                                {% else %}
                                {{ deck.user.userName }}
                            {% endif %}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
            </div>
        </div>


    </div>

</div>

{# <iframe
    src="https://player.twitch.tv/?channel=kruidjack&parent=127.0.0.1&muted=true"
    height="720"
    width="1280"
    allowfullscreen>
</iframe> #}

{% block javascripts %}



{% endblock %}
{% endblock %}