{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="flex flex-wrap justify-center">
    <div class="w-4/5 m-8">
        <!-- Profile Section (as before) -->
        <div class="flex flex-col items-center justify-center h-64 w-64 space-y-4 border rounded p-6">
            <!-- Profile info (unchanged) -->
        </div>

        <!-- Decks Section -->
        <div class="flex flex-col" x-data="{ showMyDecks: false, showFavDecks: false }">
            <div class="flex justify-center space-x-4">
                <!-- Button to toggle "Mes decks" -->
                <button class="text-sm px-2 py-1 border border-red-700 rounded hover:bg-red-800 hover:text-white duration-300"
                        x-on:click="showMyDecks = !showMyDecks; showFavDecks = false">
                    {% if app.user is same as user %}
                        Mes decks
                    {% else %}
                        Decks de {{ user.userName }}
                    {% endif %}
                </button>
                
                {% if app.user is same as user %}
                <!-- Button to toggle "Decks favoris" -->
                <button class="text-sm px-2 py-1 border border-red-700 rounded hover:bg-red-800 hover:text-white duration-300"
                        x-on:click="showFavDecks = !showFavDecks; showMyDecks = false">
                    Decks favoris
                </button>
                {% endif %}
            </div>
            
            <div class="w-full flex justify-center mt-6">
                <!-- "Mes decks" table -->
                <div class="text-sm w-full" x-show="showMyDecks" x-transition>
                    <table class="table-auto w-full text-left border-collapse">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="px-4 py-2">Couleurs</th>
                                <th class="px-4 py-2">Nom du deck</th>
                                <th class="px-4 py-2">Format</th>
                                <th class="px-4 py-2">Commentaires</th>
                                <th class="px-4 py-2">Likes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deck in user.decks %}
                            <tr class="hover:bg-gray-100">
                                <td class="border px-4 py-2">couleurs</td>
                                <td class="border px-4 py-2">
                                    <a class="hover:underline hover:text-red-700" href="{{ path('app_deck_builder', {'id': deck.id, 'state': 'Main'}) }}">
                                        {{ deck.deckName }}
                                    </a>
                                </td>
                                <td class="border px-4 py-2 italic">{{ deck.format.formatName }}</td>
                                <td class="border px-4 py-2">{{ deck.comments|length }}</td>
                                <td class="border px-4 py-2">{{ deck.likes|length }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="border px-4 py-2" colspan="5">Aucun deck trouvé</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {% if app.user is same as user %}
                <!-- "Decks favoris" table -->
                <div class="text-sm w-full" x-show="showFavDecks" x-transition>
                    <table class="table-auto w-full text-left border-collapse">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="px-4 py-2">Couleurs</th>
                                <th class="px-4 py-2">Nom du deck</th>
                                <th class="px-4 py-2">Format</th>
                                <th class="px-4 py-2">Commentaires</th>
                                <th class="px-4 py-2">Likes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deck in app.user.decksLiked %}
                            <tr class="hover:bg-gray-100">
                                <td class="border px-4 py-2">couleurs</td>
                                <td class="border px-4 py-2">
                                    <a class="hover:underline hover:text-red-700" href="{{ path('app_deck_builder', {'id': deck.id, 'state': 'Main'}) }}">
                                        {{ deck.deckName }}
                                    </a>
                                </td>
                                <td class="border px-4 py-2 italic">{{ deck.format.formatName }}</td>
                                <td class="border px-4 py-2">{{ deck.comments|length }}</td>
                                <td class="border px-4 py-2">{{ deck.likes|length }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="border px-4 py-2" colspan="5">Aucun deck favori trouvé</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{# <iframe
    src="https://player.twitch.tv/?channel=kruidjack&parent=127.0.0.1&muted=true"
    height="720"
    width="1280"
    allowfullscreen>
</iframe> #}

{% block javascripts %}



{% endblock %}
{% endblock %}