{% extends 'base.html.twig' %}

{% block title %}Profil Magic-Hub{% endblock %}

{% block body %}

{% if app.user and user is not defined %}
    {% set user = app.user %}
{% endif %}

<div class="flex flex-wrap justify-center">
    <div class="w-4/5 m-8 inline-flex justify-items">

        <div class="flex flex-col items-center justify-center h-[350px] w-[350px] space-y-4 border rounded p-6 m-auto">
            <h1>
                {{ user.userName }}
            </h1>
                
            

            <p class="text-sm space-x-4">
                <a class="hover:underline hover:text-red-800 text-" href="{{ path('app_user_list', {'user': user.id, 'param': 'followed'}) }}">
                    <span id="followers">{{ user.followedUsers|length }}</span> abonnements
                </a>
                <a class="hover:underline hover:text-red-800 text-" href="{{ path('app_user_list', {'user': user.id, 'param': 'following'}) }}">
                    <span id="following">{{ user.followingUsers|length }}</span> abonnés
                </a>
            </p>
            <p class="text-xs italic text-slate-700">
                <span class="pl-2"> a rejoint le</span> {{ user.creationDate|date('d/m/Y') }}
            </p>

            {% if (user.youtubeChannel is null or user.youtubeChannel == 'youtube.com/') and
                (user.twitchUserName is null or user.twitchUserName == 'twitch.tv/') and
                (user.discordUserName is null or user.discordUserName == 'discord.gg/')  %} 

                {% else %}
                
            <div class="border rounded-md p-4 space-y-2">
                <div class="text-sm inline-flex">
                    {% if user.youtubeChannel is same as 'youtube.com/' %}
                        {% else %}
                        <img class="w-5 mx-2" src="https://img.icons8.com/?size=300&id=37326&format=png&color=000000">
                        <a href="https://www.{{ user.youtubeChannel }}" target="_blank" class="hover:underline text-sm">
                            {{ user.youtubeChannel }}
                        </a>
                    {% endif %}
                </div>
                <div class="text-sm inline-flex">
                    {% if user.twitchUsername is same as 'twitch.tv/' %}
                        {% else %}
                        
                        <img class="w-5 mx-2" src="https://img.icons8.com/?size=100&id=18104&format=png&color=000000">
                        <a href="https://www.{{ user.twitchUsername }}" target="_blank" class="hover:underline text-sm">
                            {{ user.twitchUsername }}
                        </a>
                    {% endif %}
                </div>
                <div class="text-sm inline-flex">
                    {% if user.discordUsername is same as 'discord.gg/' %}
                        {% else %}
                        <img class="w-5 mx-2" src="https://img.icons8.com/?size=300&id=YmmZ2YsHiv59&format=png&color=000000">
                        <a href="https://{{user.discordUsername}}" target="_blank" class="hover:underline">
                            {{ user.discordUsername }}
                        </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <div class="flex flex-col justify-end items-center h-full">
                {% if app.user %}
                    {% if app.user is same as user %}
                        <a href="{{ path('app_profile_edit', {'user': app.user.id}) }}" class="text-xs px-2 py-1 bg-red-700 text-white rounded-md hover:bg-white hover:text-red-700 duration-300">
                            Modifier le profil
                        </a>
                        {# Check if the current user is already following the profile #}
                    {% elseif user in app.user.followedUsers  %}
                        <p class="text-sm italic text-gray-700 px-2 py-1">Vous suivez cet utilisateur.</p>
                        <a href="{{ path('app_user_unfollow', {'unfollowedUser': user.id, 'location': 'profile'}) }}" class="text-xs hover:underline hover:text-red-800">(Ne plus suivre)</a>
                    {% elseif user in app.user.followingUsers and user not in app.user.followedUsers %}
                    <span class="text-xs italic">Cet utilisateur vous suit</span>
                    <a href="{{ path('app_user_follow', {'followedUser': user.id}) }}" class="text-sm px-3 py-2 bg-red-700 text-white rounded-md hover:bg-white hover:text-red-700 duration-300">
                        Suivre en retour
                    </a>
                    {% else %}
                    <a href="{{ path('app_user_follow', {'followedUser': user.id}) }}" class="text-sm px-3 py-2 bg-red-700 text-white rounded-md hover:bg-white hover:text-red-700 duration-300">
                        Suivre
                    </a>
                    {% endif %}
                {% else %}
                    <p class="text-sm italic text-gray-700 px-4 py-3">Vous devez être connecté pour suivre un profil.</p>
                {% endif %}

                {% if app.user is not same as user and app.user in user.followedUsers %}
                <div>
                    <form action="{{ path('chatting') }}" method="POST">
                        <input type="hidden" value="{{ user.id }}" id="otherUserId" name="otherUserId">
                        <input type="submit"  class=" text-sm cursor-pointer px-4 py-3 mt-4 shadow rounded-md hover:text-white hover:bg-red-800 duration-300" value="Discuter avec {{ user.userName }}">
                    </form>
                </div>
            {% endif %}
            </div>
        </div>
        {% if user.twitchUsername is not same as 'twitch.tv/' and user.twitchUsername is not null and user.allowStream is same as true %}
        <div x-data="{ showIframe: true }" class="text-center">
            <button 
                @click="showIframe = !showIframe" 
                class="bg-red-700 text-xs text-white rounded-lg px-3 py-1 hover:bg-red-700 transition duration-300 mb-4">
                Afficher/masquer le Stream
            </button>
        
            <template x-if="showIframe">
                <iframe class="mx-auto"
                    src="https://player.twitch.tv/?channel={{ user.twitchUsername[10:] }}&parent=127.0.0.1&muted=true"
                    width="720"
                    height="360"
                    allowfullscreen>
                </iframe>
            </template>
        </div>
        {% endif %}


         

        <div class="flex flex-col text-center justify-center justify-items mx-auto shadow-md rounded-md p-8 min-w-52 my-auto">
            <h3 class="hidden">Description</h3>
            <p class="text-sm">
                {% if user.description is not null %}
                    {{ user.description }}
                    {% else %}
                    Aucune description pour le moment...   
                {% endif %}
            </p>
        </div>

    </div>
</div>

        <!-- Decks Section -->
        <div class="flex flex-col" x-data="{ showMyDecks: true, showFavDecks: false }">
            <div class="flex justify-center space-x-4">
                <!-- Button to toggle "Mes decks" -->
                <button class="text-sm px-2 py-1 border border-red-700 rounded hover:bg-red-800 hover:text-white duration-300"
                        x-on:click="showMyDecks = !showMyDecks; showFavDecks = false">
                    {% if app.user is same as user %}
                        Mes decks
                    {% else %}
                        Decks de {{ user.userName }}
                    {% endif %}
                </button>
                
                {% if app.user is same as user %}
                <!-- Button to toggle "Decks favoris" -->
                <button class="text-sm px-2 py-1 border border-red-700 rounded hover:bg-red-800 hover:text-white duration-300"
                        x-on:click="showFavDecks = !showFavDecks; showMyDecks = false">
                    Decks favoris
                </button>
                {% endif %}
            </div>
            
            <div class="w-3/5 flex justify-center mt-6 mx-auto">
                <!-- "Mes decks" table -->
                <div class="text-sm w-full" x-show="showMyDecks" x-transition>
                    <table class="table-auto w-full text-left border-collapse">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="px-4 py-2">Couleurs</th>
                                <th class="px-4 py-2">Nom du deck</th>
                                <th class="px-4 py-2">Format</th>
                                <th class="px-4 py-2">Commentaires</th>
                                <th class="px-4 py-2">Likes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deck in user.decks %}
                            <tr class="hover:bg-gray-100">
                                <td class="border px-4 py-2">
                                    {% set colorCount = deck.colorCount %}
                                    <span class="inline-flex space-x-1">
                                        {% set colorImageMap = {
                                            'W': '/img/colors/soleil.webp',
                                            'U': '/img/colors/goutte.webp',
                                            'B': '/img/colors/mortmort.webp',
                                            'R': '/img/colors/flamme.webp',
                                            'G': '/img/colors/arbreuh.webp'
                                        } %}
                                    
                                        {% for color, count in colorCount %}
                                            {% if colorImageMap[color] is defined %}
                                                <img class="h-4 mt-1 w-auto" 
                                                        src="{{ colorImageMap[color] }}" 
                                                        alt="{{ color }}"/>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </td>
                                <td class="border px-4 py-2">
                                    <a class="hover:underline hover:text-red-700" href="{{ path('app_deck_builder', {'id': deck.id, 'state': 'Main'}) }}">
                                        {{ deck.deckName }}
                                    </a>
                                </td>
                                <td class="border px-4 py-2 italic">{{ deck.format.formatName }}</td>
                                <td class="border px-4 py-2">{{ deck.comments|length }}</td>
                                <td class="border px-4 py-2">{{ deck.likes|length }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="border px-4 py-2" colspan="5">Aucun deck trouvé</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {% if app.user is same as user %}
                <!-- "Decks favoris" table -->
                <div class="text-sm w-full" x-show="showFavDecks" x-transition>
                    <table class="table-auto w-full text-left border-collapse">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="px-4 py-2">Couleurs</th>
                                <th class="px-4 py-2">Nom du deck</th>
                                <th class="px-4 py-2">Format</th>
                                <th class="px-4 py-2">Commentaires</th>
                                <th class="px-4 py-2">Likes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deck in app.user.decksLiked %}
                            <tr class="hover:bg-gray-100">
                                <td class="border px-4 py-2">
                                    {% set colorCount = deck.colorCount %}
                                    <span class="inline-flex space-x-1">
                                        {% set colorImageMap = {
                                            'W': '/img/colors/soleil.webp',
                                            'U': '/img/colors/goutte.webp',
                                            'B': '/img/colors/mortmort.webp',
                                            'R': '/img/colors/flamme.webp',
                                            'G': '/img/colors/arbreuh.webp'
                                        } %}
                                    
                                        {% for color, count in colorCount %}
                                            {% if colorImageMap[color] is defined %}
                                                <img class="h-4 mt-1 w-auto" 
                                                        src="{{ colorImageMap[color] }}" 
                                                        alt="{{ color }}"/>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </td>
                                <td class="border px-4 py-2">
                                    <a class="hover:underline hover:text-red-700" href="{{ path('app_deck_builder', {'id': deck.id, 'state': 'Main'}) }}">
                                        {{ deck.deckName }}
                                    </a>
                                </td>
                                <td class="border px-4 py-2 italic">{{ deck.format.formatName }}</td>
                                <td class="border px-4 py-2">{{ deck.comments|length }}</td>
                                <td class="border px-4 py-2">{{ deck.likes|length }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="border px-4 py-2" colspan="5">Aucun deck favori trouvé</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>

        </div>
        
        



{% if app.user and app.user is same as user %}
    

{% if messages is defined %}
<div class="flex w-full justify-center">
    <div class="w-4/5 m-8 space-y-4">   
{% if messages is empty %}
{% else %}
        <div x-data="{ isOpen: false }" 
        {% if unread_count() > 0 %}    
        class=" p-6 rounded hover:shadow-lg w-[280px] bg-red-700 text-white relative hover:bg-blue-100 hover:text-red-700"
        {% else %}
        class="shadow p-6 rounded hover:shadow-lg hover:bg-blue-100 w-[280px] bg-white text-black relative"
        {% endif %}
        >
            <h2 @click="isOpen = !isOpen" class="text-sm font-semibold py-1 text-center cursor-pointer">
                Conversations récentes
                <span x-text="isOpen ? '▲' : '▼'" class="ml-2"></span> <!-- Toggle arrow -->
            </h2>
            {% if unread_count() > 0 %}
            <span class="italic text-xs absolute top-2 right-16 ">
                    Vous avez {{ unread_count() }} message{{ unread_count() > 1 ? 's' : '' }} non-lu{{ unread_count() > 1 ? 's' : '' }}
            </span>
            {% endif %}

            <ul class="bg-white text-black rounded px-2 py-1" x-show="isOpen" x-transition>
                {% for message in messages %}
                    <li class="border-b border-red-800 hover:bg-slate-100">
                        {% if message.authorId is same as app.user.id %}
                            <!-- Current user is the author, so show the receiver -->
                            <form action="{{ path('chatting') }}" method="POST">
                                <input type="hidden" value="{{ message.receiverId }}" id="otherUserId" name="otherUserId">
                                <input type="submit" class="text-sm px-4 py-1 hover:text-red-600 hover:underline cursor-pointer" value="{{ message.receiverName }}">
                            </form>
                        {% else %}
                            <!-- Current user is the receiver, so show the author -->
                            <form action="{{ path('chatting') }}" method="POST">
                                <input type="hidden" value="{{ message.authorId }}" id="otherUserId" name="otherUserId">
                                <input type="submit" class="text-sm px-4 pt-1 hover:text-red-600 hover:underline cursor-pointer" value="{{ message.authorName }}">
                                {% if not message.isRead %}
                                    <span class="italic text-red-500 text-xs pl-16 pb-1">vous a écrit</span>
                                {% endif %}
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endif %}

        <div x-data="{ isOpen: false }" class="shadow p-6 rounded hover:shadow-lg hover:bg-blue-100 w-[280px]">

        <h2 class="text-sm font-semibold text-center cursor-pointer">
            <a href="{{ path('chatting') }}">
                Toutes les conversations
            </a>
        </h2>

    </div> 
</div>
{% endif %}  




{% endblock %}