{% extends 'base.html.twig' %}

{% block title %}Gestion des decks{% endblock %}

{% block body %}
<h1>Bienvenue sur la page de gestion de vos decks</h1>


    {% for deck in userDecks %}
        <a href="{{ path('app_deck_builder', {'id': deck.id}) }}"> 
            {{ deck.deckName }} créé le
            {{ deck.creationDate|date('d.m.Y H:i')}}<br>
        </a>
    {% endfor %}


<h3>Créer un nouveau deck</h3>
    {{ form_errors(form) }}

    {{ form_start(form) }}

        {{ form_row(form.deckName) }}
        {{ form_row(form.status) }}

    {{ form_end(form) }}

{% endblock %}