{% extends 'base.html.twig' %}

{% block title %}Constructeur de deck{% endblock %}

{% block body %}

<h1>Deck Builder</h1>
<h2>{{ deck.deckName }}</h2>
<p>créé le {{ deck.creationDate|date('d.m.Y H:i') }}</p>
<p>Format : {{ deck.format.formatName}} <a href="">(modifier)</a></p> <!--TODO -> lien modifier-->
<p>
    Description du deck :<br>
    {% if deck.deckDescription is same as null %}
        Aucune description pour le moment...
        {% else %}
        {{ deck.deckDescription }}
    {% endif %}
</p>

{% if deck.format.formatName is same as "Commander" %}
    Veuillez choisir un commandant pour le deck :
    <input type="text" class="search" name="search" id="searchId" placeholder="Chercher un commandant">
    <select class="card" name="cardName" id="cardSelect"></select>
    <button type="button" id="researchStart">Rechercher</button><br>
    <a id="saveCommander" href="{{ path('save_card_deck', {'user': deck.user.id, 'deck': deck.id, 'cardId': 'replace_card', 'imageUrl': 1}) }}" >Valider le commandant</a>
    <!--Vérifier que le lien n'est cliquable qu'une fois un commandant sélectionné-->


    <div id="cardBoard" class="board">
        <img id="cardImage">
    </div>

{% endif %}
<main>

</main>


{% block javascripts %} 


<script>


    document.addEventListener('DOMContentLoaded', function() { 

        const searchInput = document.getElementById('searchId'); 
        const cardSelect = document.getElementById('cardSelect'); 
        const researchButton = document.getElementById('researchStart'); 
        const cardBoard = document.getElementById('cardBoard'); 
        let saveCommanderUrl = document.getElementById('saveCommander')
    
        researchButton.addEventListener('click', function() { 
            const query = searchInput.value; 
    
            // fetch(`https://api.scryfall.com/cards/search?q=name:${query}+lang:fr`) 
            fetch(`https://api.scryfall.com/cards/search?q=is:commander+name:${query}`) //+type:legendary+type:creature
         
                .then(response => response.json())
                .then(data => {
                 //   console.log(data); Vérifie le format des données
    
                    if (data.data && Array.isArray(data.data)) { 
    
                        cardSelect.innerHTML = ''; // Supprime les entrées précédentes
    
                        data.data.forEach(card => {
                            
                            const option = document.createElement('option'); // rajoute une option au select pour chaque carte récupérée depuis l'API

                            option.value = card.id ;
                            option.textContent = card.name;
                            cardSelect.appendChild(option);
                            //console.log(option.value)
                        });
                    } else {
                        console.error('Erreur: la réponse de l\'API ne contient pas un tableau de cartes dans "data"');
                    }
                })
                .catch(error => console.error('Erreur:', error));
        });

        cardSelect.addEventListener('change', function() {
            let value = cardSelect.value;
            let text = cardSelect.options[cardSelect.selectedIndex].textContent;

            console.log(value, text);
        });

        function select() {
            cardSelect.dispatchEvent(new Event('change'));
        }

        // Déclenchement manuel de l'événement change pour considérer la première valeur
        //if(cardSelect.value)
        //cardSelect.dispatchEvent(new Event('change'));
    });





</script>

    {# let image = document.getElementById('cardImage')
    //image.src = card.image_uris.normal
    let select = document.getElementById('cardName')
    let option = select.option
    let card = option.value

    if (card.image_uris && card.image_uris.normal && card) {
        //let displayCard = new Image(250,350); 
       image.src = card; 
        //displayCard.id = `${card.id}`
        displayCard.classList.add('singleCard'); 
    }


    function updateCardImage() {
        let image = document.getElementById('cardImage')
        image.src = card.image_uris.normal

        if (card.image_uris && card.image_uris.normal) {
            //let displayCard = new Image(250,350); 
            image.src = `${card.image_uris.normal}`; 
            //displayCard.id = `${card.id}`
            displayCard.classList.add('singleCard'); 
        }
    } #}

{% endblock %}
{% endblock %}
