{% extends 'base.html.twig' %}

{% block title %}Gestion des decks{% endblock %}

{% block body %}

  <h1 class="flex justify-center bold my-6">Mes Decks</h1>
  <div class="flex flex-col">
      {% for deck in userDecks %}
          <p class="flex justify-center">
            <a class="inline-flex justify-center w-prose" href="{{ path('app_deck_builder', {'id': deck.id}) }}"> 
                <span class="bold">{{ deck.deckName }}</span>
            </a> 
            <span class="ml-2">
              {% if deck.updateDate is same as null %}
              créé le {{ deck.creationDate|date('d.m.Y à H:i')}}
              {% else %}
              modifié le {{ deck.updateDate|date('d.m.Y à H:i') }}
              {% endif %}
            </span>
            <span class="ml-2">
              Format <span class="bold">{{ deck.format.formatName }}</span>
            </span>
          </p>
      {% endfor %}
  </div>


  <section class="px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-1">
      
      <div class="max-w-md mx-auto rounded-lg bg-white p-8 shadow-lg lg:max-w-lg lg:p-8">
        <h3 class="mb-6 bold ">Ajouter un nouveau deck</h3>

        {{ form_errors(form) }}

        {{ form_start(form, { 'attr': {'class': 'space-y-4'}}) }}
        <div>
          {{ form_row(form.deckName, { 'attr': {'class': 'w-full rounded-lg border border-gray-400 p-3 text-sm focus:outline-none focus:border-red-800 '}}) }}
        </div>
        {{ form_row(form.status) }}
        {{ form_row(form.format) }}
        {{ form_row(form.Valider, { 'attr': {'class': "inline-block w-full rounded-lg bg-red-900 px-5 py-3 font-medium text-white sm:w-auto"}}) }}
        
        {{ form_end(form) }}
      </div>
    </div>
  </section>




{% endblock %}