{% extends 'base.html.twig' %}

{% block title %}Gestion des decks{% endblock %}

{% block body %}

  <h1 class="flex justify-center bold my-6">Mes Decks</h1>

  <div class="flex justify-center">
    <table class="table-auto w-4/5 bg-white shadow-md rounded-lg overflow-hidden">
        <thead class="bg-gray-100 border-b">
            <tr>
                <th class="px-4 py-2 text-center text-sm font-medium text-gray-600">Nom du deck</th>
                <th class="px-4 py-2 text-center text-sm font-medium text-gray-600">Couleur</th>
                <th class="px-4 py-2 text-center text-sm font-medium text-gray-600">Format</th>
                <th class="px-4 py-2 text-center text-sm font-medium text-gray-600">Date</th>
                <th class="px-4 py-2 text-center text-sm font-medium text-gray-600">Suppression</th>
            </tr>
        </thead>
        <tbody>
            {% for deck in userDecks %}
            <tr class="border-b hover:bg-gray-50">
                <td class="px-4 py-3 text-center">
                    <a class="text-red-700 hover:text-red-900 hover:underline text-sm" href="{{ path('app_deck_builder', {'id': deck.id, 'state': "Mainboard"}) }}"> 
                        <span class=" font-normal">{{ deck.deckName }}</span>
                    </a>
                </td>
                <td class="px-4 py-3 text-center">
                    <span class="text-gray-700 text-sm">couleurs</span>
                </td>
                <td class="px-4 py-3 text-center">
                    <span class="text-gray-700 text-sm">{{ deck.format.formatName }}</span>
                </td>
                <td class="px-4 py-3 text-sm text-gray-500 italic text-center">
                    {% if deck.updateDate is same as null %}
                    créé le {{ deck.creationDate|date('d.m.Y à H:i')}}
                    {% else %}
                    modifié le {{ deck.updateDate|date('d.m.Y à H:i') }}
                    {% endif %}
                </td>
                <td class="px-4 py-3 text-center">
                  {% if app.user and app.user.id is same as deck.user.id %}
                  <a class="text-red-500 hover:underline text-sm" href="{{ path('delete_deck', {'user': deck.user.id, 'deck': deck.id}) }}">Supprimer</a>
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<section id="add-deck-section" class="px-4 py-8 sm:px-6 lg:px-8">
  <span class="w-full flex justify-center">
    <button id="toggle-form-btn" class="bg-red-800 text-white mt-12 px-4 py-2 rounded-lg hover:bg-red-900 transition hover:shadow-[0px_10px_20px_0px_rgba(0,_0,_0,_0.15)] duration-300">
      Créer un deck
    </button>
  </span>

<div id="deck-form-container" class="hidden grid grid-cols-1 lg:grid-cols-1">
  <div class="inline-flex">
    <div class="relative max-w-md mx-auto rounded-lg bg-white p-8 hover:shadow-[0px_10px_20px_0px_rgba(0,_0,_0,_0.15)] shadow duration-300 lg:max-w-lg lg:p-8">
      <button id="close-form-btn" class="absolute top-4 right-4 text-gray-500 hover:text-gray-800 hover:shadow-[0px_10px_20px_0px_rgba(0,_0,_0,_0.15)] duration-300 px-2 py-1 rounded-md">
        &times;
      </button>
      
      <h3 class="mb-6 font-bold underline underline-offset-2">Ajouter un nouveau deck</h3>

      {{ form_errors(form) }}

      {{ form_start(form, { 'attr': {'class': 'space-y-4'}}) }}
      <div class=" p-4 rounded-lg">
        {{ form_row(form.deckName, {
          'attr': {'class': 'w-full rounded-lg border border-gray-400 p-3 text-sm focus:outline-none focus:border-red-800 hover:shadow-[0px_10px_20px_0px_rgba(0,_0,_0,_0.15)] shadow duration-300'},
          'label_attr': {'class': 'font-semibold'}
        }) }}
      </div>
      {{ form_row(form.status, {'label_attr': {'class': 'font-semibold'}, 'attr': {'class': 'hover:shadow-[0px_10px_20px_0px_rgba(0,_0,_0,_0.15)] rounded-lg duration-300'}}) }}
      {{ form_row(form.format, {'label_attr': {'class': 'font-semibold'}, 'attr': {'class': 'hover:shadow-[0px_10px_20px_0px_rgba(0,_0,_0,_0.15)] rounded-lg duration-300'}}) }}
      {{ form_row(form.Valider, { 'attr': {'class': "inline-block w-full rounded-lg bg-red-800 hover:bg-red-900 px-5 py-3 font-medium text-white sm:w-auto hover:shadow-[0px_10px_20px_0px_rgba(0,_0,_0,_0.15)] duration-300"}}) }}

      {{ form_end(form) }}
   </div>

    <div class="flex flex-col rounded-md p-4" x-data="{ isLoading: false }">
      <div class="relative max-w-md mx-auto rounded-lg bg-white p-8 hover:shadow-[0px_10px_20px_0px_rgba(0,_0,_0,_0.15)] shadow duration-300 lg:max-w-lg lg:p-8">
        <form  action="{{ path('import_deck_txt', {'user': app.user.id}) }}" method="POST" x-on:submit.prevent="isLoading = true; fetch($event.target.action, {
            method: 'POST',
            body: new FormData($event.target),
            headers: {
                'Accept': 'text/html'
            }
        }).then(response => response.text())
          .then(data => { 
              isLoading = false;
              
              document.getElementById('import-summary').innerHTML = data;
          }).catch(() => isLoading = false)">
            <label for="deckName">Veuillez saisir un nom de deck</label>
            <input class="w-full rounded-lg border border-gray-400 p-3 text-sm focus:outline-none focus:border-red-800 hover:shadow-[0px_10px_20px_0px_rgba(0,_0,_0,_0.15)] shadow duration-300" type="text" name="deckName">
            <textarea name="deckList" rows="10" cols="50" placeholder="Enter deck list in 'quantity card_name' format"></textarea>
            <button type="submit">Import Deck</button>
        </form>
      </div>
    
      <!-- Loading animation -->
      <div x-show="isLoading" class="fixed inset-0 flex justify-center items-center bg-opacity-75 bg-gray-800 z-50">
          <div class="spinner"></div>
          <p class="text-white">Importing deck, please wait...</p>
      </div>
    
      <!-- Summary section (where the response will be displayed) -->
      <div id="import-summary"></div>
    </div>
</div>
</section>

{# <form action="{{ path('import_deck_txt', {'user': app.user.id}) }}" method="POST">
  <textarea name="deckList" rows="10" cols="50" placeholder="Enter deck list in 'quantity card_name' format"></textarea>
  <button type="submit">Import Deck</button>
</form> #}




{% block javascript %}
<script>

  document.addEventListener('DOMContentLoaded', function() {
    const toggleFormBtn = document.getElementById('toggle-form-btn');
    const closeFormBtn = document.getElementById('close-form-btn');
    const formContainer = document.getElementById('deck-form-container');

    toggleFormBtn.addEventListener('click', function() {
      formContainer.classList.toggle('hidden');
      toggleFormBtn.classList.toggle('hidden');
    });

    closeFormBtn.addEventListener('click', function() {
      formContainer.classList.add('hidden');
      toggleFormBtn.classList.remove('hidden');
    });
  });


</script>
{% endblock javascript %}

{% endblock %}