{% extends 'base.html.twig' %}

{% block title %}Consulter un deck{% endblock %}

{% block body %}

<div class="space-y-2 block max-w-sm p-6 m-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    <h1><span class='bold'>{{ deck.deckName }}</span></h2>

    {% if deck.updateDate is same as null %}
        <p class="font-normal text-gray-700 dark:text-gray-400">
            créé le {{ deck.creationDate|date('d.m.Y H:i') }}
        </p>
    {% else %}
    <p class="font-normal text-gray-700 dark:text-gray-400">
        modifié le {{ deck.updateDate|date('d.m.Y H:i') }}
    </p>
    {% endif %}

    <p class="font-normal text-gray-700 dark:text-gray-400">
        <span class="bold">Format</span> : {{ deck.format.formatName}}
    </p> <!--TODO -> lien modifier-->
    <div class="mb-2">
        <span class="bold">Description du deck :</span><br>
        {% if deck.deckDescription is same as null %}
            <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Aucune description pour le moment...</p><!--TODO -> lien modifier-->
            {% else %}
            <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">{{ deck.deckDescription }}</p>
        {% endif %}
    </div>


    {% if app.user %}
        {% set isLiked = false %}

        {% if app.user.decksLiked is not null %}
            {% for likedDeck in app.user.decksLiked %}
                {% if deck.deckName == likedDeck.deckName %}
                    {% set isLiked = true %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if isLiked %}
            <!-- Link to remove the deck from favorites -->
            <a href="{{ path('remove_like_deck', {'id': deck.id}) }}" class="inline-flex items-center space-x-1">
                <img class="w-4 h-4 mt-1 mx-1" src="https://img.icons8.com/material-rounded/24/like--v1.png" alt="like--v1"/>
                <p class="m-0 text-red-600">Retirer des favoris</p>      
            </a>
        {% else %}
            <a href="{{ path('like_deck', {'id': deck.id}) }}">
                <div class="border-2 border-red-800 rounded inline-flex items-center space-x-2 px-4 py-1 hover:bg-red-800 hover:text-white transition duration-300">
                    <p class="m-0">Ajouter le deck aux favoris</p>
                    <img class="w-4 h-4" src="https://img.icons8.com/material-outlined/24/like--v1.png" alt="like--v1"/>
                </div>
            </a>
        {% endif %}
        <div class="flex space-x-2">
            (<img class="h-4 mt-1 w-auto" src="https://img.icons8.com/material-rounded/24/like--v1.png" alt="like--v1"/>
            {{ deck.likes|length }}) 
        </div>
    {% else %}
    <div>
        <div class="flex space-x-2">
            (<img class="h-4 mt-1 w-auto" src="https://img.icons8.com/material-rounded/24/like--v1.png" alt="like--v1"/>
            {{ deck.likes|length }}) 
        </div>
        <p class="text-gray-800 mt-4 text-sm italic">Vous devez être connecté pour liker un deck.</p>
    </div>
    {% endif %}

</div>

<section>

<div class="light-white">


     <!-- Toggle Buttons -->
     <div class="flex justify-end mb-4 mr-4">
        <button id="listViewBtn" class="px-4 py-2 bg-gray-300 hover:bg-gray-400 rounded-l-lg">List View</button>
        <button id="imageViewBtn" class="px-4 py-2 bg-gray-300 hover:bg-gray-400 rounded-r-lg">Image View</button>
    </div>


    {% set card_types = ["Creature", "Sorcery", "Instant", "Enchantment", "Artifact", "Planeswalker", "Land",] %}

    <div id="listView" class="grid grid-cols-4 gap-4">
        {% for type in card_types %}
            <div id="{{ type|lower }}Cards" class="category-container">
                <h3>{{ type }}</h3>
                <ul class="list-none">
                    {% for element in composition %}
                        {% if type in element.card.data.type_line %}
                            <li>
                                <span>{{ element.quantity }}x </span>{{ element.card.data.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    
    <div id="imageView" class="grid grid-cols-4 gap-4">
        {% for type in card_types %}
            <div id="{{ type|lower }}Cards" class="category-container">
                <h3>{{ type }}</h3>
                <div id="displayDeck" class="board">
                    {% for element in composition %}
                        {% if type in element.card.data.type_line %}
                            <div class="card">
                                {% if element.quantity > 1 %}
                                    <img class="singleCard" src="{{ element.card.data.image_uris.normal }}"><span>X{{ element.quantity}}</span>
                                {% else %}
                                    <img class="singleCard" src="{{ element.card.data.image_uris.normal }}">
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</section>


<section>
    <div class="bg-gray-100 flex flex-col items-center justify-center">
        <!-- Toggle Button -->
        {% if app.user %}
            <button id="toggleCommentForm" class="bg-red-800 text-white mt-12 px-4 py-2 rounded-lg hover:bg-red-900 transition duration-300">
                Ajouter un commentaire 
            </button>
        {% else %}
            <p class="text-red-600 mt-6 text-sm">Vous devez être connecté pour publier un commentaire.</p>
        {% endif %}

        <!-- Comment Form Section -->
        <div id="commentFormContainer" class="w-full max-w-2xl px-4 mt-10 hidden">
            <div class="bg-white rounded-2xl px-8 py-4 shadow-lg relative">
                <!-- Close Button -->
                <button id="closeCommentForm" class="absolute top-2 right-4 text-gray-600 hover:text-gray-800">
                    &times;
                </button>
                <h3 class="text-xl font-semibold mb-2">Ajouter un commentaire</h3>
                {{ form_start(commentForm) }}
                    <div class="mb-4">
                        {{ form_row(commentForm.textContent, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline focus:outline-red-800'}}) }}
                    </div>
                    <div class="flex justify-end">
                        {{ form_row(commentForm.submit) }}
                    </div>
                {{ form_end(commentForm) }}
            </div>
        </div>
    </div>
</section>
<section>   
    <div class="bg-gray-100 p-10 flex flex-col items-center justify-center">
        <h3 class="text-2xl font-bold mb-4">Commentaires :</h3>
        <div class="w-full max-w-2xl px-4 mb-6">
            {% for comment in comments %}
                <div class="bg-white rounded-2xl px-8 py-6 m-6 shadow-lg hover:shadow-2xl transition duration-500">
                    <div class="mb-4">
                        <p class="text-md text-gray-700">{{ comment.textContent }}</p>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="text-sm font-semibold">
                            {% if comment.user is same as null %}
                            <span class="italic font-normal">[profil supprimé]</span>
                            {% else %}
                            {{ comment.user.userName }} • 
                            {% endif %}
                            {% if comment.updateDate is same as null %}
                            <span class="font-normal">le {{ comment.creationDate|date('d.m.Y H:i') }}</span>
                            {% else %}
                                <span class="font-normal">modifié le {{ comment.updateDate|date('d.m.Y H:i') }}</span>
                            {% endif %}
                        </div>
                        {% if app.user is same as comment.user %}
                            <div class="flex space-x-4">
                                <a href="{{ path('edit_comment', {'deck': deck.id, 'comment': comment.id}) }}" class="text-black hover:underline">Modifier</a>
                                <form action="{{ path('delete_comment', {'deck': deck.id, 'comment': comment.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?');">
                                    <button type="submit" class="text-red-600 hover:underline">Supprimer</button>
                                </form>
                                {# <a href="#" class="text-red-600 hover:underline">Supprimer</a> #}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% block javascripts %} 


<script>


document.addEventListener('DOMContentLoaded', function() { 


    const toggleButton = document.getElementById('toggleCommentForm');
    const formContainer = document.getElementById('commentFormContainer');
    const closeButton = document.getElementById('closeCommentForm');

    // Show the form when the button is clicked
    toggleButton.addEventListener('click', function() {
        formContainer.classList.toggle('hidden');
        toggleButton.classList.toggle('hidden');
    });

    // Hide the form when the close button is clicked
    closeButton.addEventListener('click', function() {
        formContainer.classList.add('hidden');
        toggleButton.classList.remove('hidden');

    });

    const listViewBtn = document.getElementById('listViewBtn');
    const imageViewBtn = document.getElementById('imageViewBtn');
    const listView = document.getElementById('listView');
    const imageView = document.getElementById('imageView');

    // Initial State: Show List View by Default
    listView.classList.add('grid');
    imageView.classList.add('hidden');

    listViewBtn.addEventListener('click', function() {
        listView.classList.toggle('hidden', false);
        listView.classList.toggle('grid', true);
        imageView.classList.toggle('board', false);
        imageView.classList.toggle('hidden', true);
    });

    imageViewBtn.addEventListener('click', function() {
        imageView.classList.toggle('hidden', false);
        imageView.classList.toggle('board', true);
        listView.classList.toggle('grid', false);
        listView.classList.toggle('hidden', true);
    });
});


</script>

{% endblock %}
{% endblock %}
