{% extends 'base.html.twig' %}

{% block title %}Liste des decks{% endblock %}

{% block body %}

<h1 class="flex justify-center">Tous les decks</h1>

<div class="flex flex-wrap max-w-full m-4">

    {% for deck in decks %}

    <div class="deck-card m-4 p-4 w-full sm:w-64 md:w-64 lg:w-64 border border-spacing-2 space-y-4">
        <span class="ml-2 text-xs italic flex justify-end">
        {% if deck.updateDate is same as null %}
        créé le {{ deck.creationDate|date('d.m.Y à H:i')}}
        {% else %}
        dernière m-a-j le {{ deck.updateDate|date('d.m.Y à H:i') }}
        {% endif %}
        </span>

        <div class="border img min-h-36">img</div>

        <div class="flex flex-col m-4 h-auto justify-end">
            <a class="inline-flex w-prose" href="{{ path('app_deck_consult', {'id': deck.id}) }}"> 
                <h3 class="bold">{{ deck.deckName }}</h3>
            </a>
            <span class="text-gray-600">
                {{ deck.format.formatName }}
            </span> 
            <span class="text-xs mt-">
                par {{ deck.user.userName }}
            </span>


            <div class="inline-flex justify-end space-x-2 mt-1">
                <span class="flex text-sm mt-1">
                    <img class="h-4 mt-1 w-auto" src="https://img.icons8.com/material-outlined/24/comments--v1.png" alt="like--v1"/>
                    {{ deck.comments|length }}</span> 
                </span>
                <span class="flex text-sm mt-1">
                    <img class="h-4 mt-1 w-auto" src="https://img.icons8.com/material-outlined/24/like--v1.png" alt="like--v1"/>
                    {{ deck.likes|length }}</span> 
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% block javascripts %} 
{% endblock %}
{% endblock %}