{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}

<div class="flex justify-center w-full">

    <div id="chat-box" class="w-[500px] p-6 shadow-md mt-10">
        <div>
            {% if messages is defined %}

                {% for message in messages %}
                <div class="message">
                    <strong>{{ message.author.username }}:</strong> {{ message.content }}
                </div>
                {% endfor %}

            {% else %}
                <p>No messages yet.</p>
            {% endif %}
        </div>

        <div>
            <h2>Chat with {{ otherUser.userName }}</h2>

            {{ form_start(form) }}
                {{ form_widget(form.content) }}
                <input type="hidden" name="otherUserId" id="otherUserId" value="{{ otherUser.id }}">
                <button type="submit">Send</button>
            {{ form_end(form) }}
        </div>
</div>



{# Optional: List of users to chat with #}
{# <h2>Select a user to chat with</h2>

<ul>
    {% for user in app.user.followedUsers %}
        <li>
            <a href="{{ path('start_conversation', { 'userId': user.id }) }}">
                {{ user.userName }}
            </a>
        </li>
    {% endfor %}
</ul> #}


{% block javascripts %}

{% endblock %}
{% endblock %}