<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Magic-Hub!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
      </head>
      <body>
        <nav class="flex justify-between py-5">
          <div class="row">
            <div class="row space-x-4 px-4">
              <a class="white hover:underline" href="{{ path('app_home') }}">Home</a>
              <a class="white hover:underline" href="{{ path('app_search', {'search': 'basic', 'parameter': 'none'}) }}">Recherche avancée</a>
              <a class="white hover:underline" href="{{ path('all_sets') }}">Tous les sets/extensions</a> <!--path('app_all_sets')-->
              <a class="white hover:underline" href="{{ path('app_decks') }}">Tous les Decks</a>
              <a class="white hover:underline" href="{{ path('app_forum') }}">Forum</a>
            </div>
            <div class="row space-x-2 px-4">
              {% if is_granted("ROLE_USER") %}
              <a class="white hover:underline" href="{{ path('app_articleForm')}}">Rédiger un article</a>
              <a class="white hover:underline" href="{{ path('app_deck_manager', {'id': app.user.id})}}">Mes Decks</a>
              {% endif %}
            </div>
          </div>

          <div class="space-x-2 px-4">
            {% if app.user %}
            <a class="white hover:underline" href="{{ path('app_profile') }}">Mon profil</a>
            <a class="white hover:underline" href="{{ path('app_logout') }}">Se déconnecter</a>
            {# <a href="{{ path('app_deck_manager', {'user': user.id})}}">MES DECKS</a> #}
            {% else %}
            <a class="white hover:underline" href="{{ path('app_login') }}">Se connecter</a>
            <a class="white hover:underline" href="{{ path('app_register') }}">S'inscrire</a>
            {% endif %}
          </div>
        </nav>
        

        {% block body %}{% endblock %}
        
        {# {% block javascripts %} #}
        {# <script src="{{ asset('cardDetail.js') }}"></script> #}
        {# {% block importmap %}{{ importmap('app') }}{% endblock %}  #}
        {# {% endblock %} #}
    </body>
</html>
