<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Magic-Hub!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
          <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.2/dist/css/glide.core.min.css">
          <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
      </head>
      <body>

        <nav class="flex justify-between py-5">
          <div class="row">
            <div class="row space-x-4 px-4">
              <a class="white hover:underline" href="{{ path('app_home') }}">Home</a>
              <a class="white hover:underline" href="{{ path('app_search', {'search': 'basic', 'parameter': 'none'}) }}">Recherche avancée</a>
              <a class="white hover:underline" href="{{ path('all_sets') }}">Tous les sets/extensions</a> <!--path('app_all_sets')-->
              <a class="white hover:underline" href="{{ path('app_decks') }}">Tous les Decks</a>
              <a class="white hover:underline" href="{{ path('app_forum') }}">Forum</a>
            </div>
            <div class="row space-x-2 px-4">
              {% if app.user %}
              <a class="white hover:underline" href="{{ path('app_articleForm')}}">Rédiger un article</a>
              <a class="white hover:underline" href="{{ path('app_deck_manager', {'id': app.user.id})}}">Mes Decks</a>
              {% endif %}
            </div>
          </div>

          <div class="space-x-2 px-4">
            {% if app.user %}
              {% if app.user.globalChat is same as false and unread_count() > 0 %}
                  <span class="text-white text-xs italic border-white border p-1">
                      {{ unread_count() }} 
                      {{ unread_count() > 1 ? 'nouveaux' : 'nouveau' }} 
                      message{{ unread_count() > 1 ? 's' : '' }}
                  </span>
              {% endif %}
            <a class="white hover:underline" href="{{ path('app_profile', {'user': app.user.id}) }}">Mon profil</a>
            <a class="white hover:underline" href="{{ path('app_logout') }}">Se déconnecter</a>
            {# <a href="{{ path('app_deck_manager', {'user': user.id})}}">MES DECKS</a> #}
            {% else %}
            <a class="white hover:underline" href="{{ path('app_login') }}">Se connecter</a>
            <a class="white hover:underline" href="{{ path('app_register') }}">S'inscrire</a>
            {% endif %}
          </div>
        </nav>
        
        {% if app.user %}
        {% if app.user.globalChat is same as true %}
        
        {% set user_messages = user_messages() %}
        

        <div class="fixed right-4 bottom-12 z-30 space-y-4 mt-4">
    
          <!-- Recent Conversations Section -->
          <div x-data="{ isOpen: false }"
              class="shadow-lg p-4 rounded-lg hover:shadow-xl {{ unread_count() > 0 ? 'bg-red-700 text-white relative hover:bg-white hover:text-red-700' : 'bg-white text-gray-800' }}">
              <h2 @click="isOpen = !isOpen" class="text-sm font-semibold text-center cursor-pointer flex items-center justify-between">
                  Conversations récentes
                  <span x-text="isOpen ? '▲' : '▼'" class="ml-2 text-xs"></span> <!-- Toggle arrow -->
              </h2>
              
              {% if unread_count() > 0 %}
              <span class="italic text-xs absolute top-1 left-4">
                  Vous avez {{ unread_count() }} message{{ unread_count() > 1 ? 's' : '' }} non-lu{{ unread_count() > 1 ? 's' : '' }}
              </span>
              {% endif %}
      
              <ul class="bg-white text-gray-800 rounded-lg mt-1 max-h-60 overflow-y-auto" x-show="isOpen" x-transition>
                  {% for message in user_messages.messages %}
                      <li class="border-b border-gray-300 hover:bg-gray-100 px-2">
                          {% if message.authorId == app.user.id %}
                              <!-- Current user is the author, so show the receiver -->
                              <form action="{{ path('chatting') }}" method="POST">
                                  <input type="hidden" value="{{ message.receiverId }}" id="otherUserId" name="otherUserId">
                                  <input type="submit" class="text-sm px-2 py-1 hover:text-red-700 hover:underline cursor-pointer" value="{{ message.receiverName }}">
                              </form>
                          {% else %}
                              <!-- Current user is the receiver, so show the author -->
                              <form action="{{ path('chatting') }}" method="POST">
                                  <input type="hidden" value="{{ message.authorId }}" id="otherUserId" name="otherUserId">
                                  <input type="submit" class="text-sm px-2 py-1 hover:text-red-700 hover:underline cursor-pointer" value="{{ message.authorName }}">
                                  {% if not message.isRead %}
                                      <span class="italic text-red-500 text-xs pl-2">vous a écrit</span>
                                  {% endif %}
                              </form>
                          {% endif %}
                      </li>
                  {% endfor %}
              </ul>
          </div>
              
          <!-- Start a Conversation Section -->
          <div x-data="{ isOpen: false }" class="shadow-lg p-4 rounded-lg hover:shadow-xl bg-white">
              {% if app.user.followingUsers is not empty %}
                  <h2 @click="isOpen = !isOpen" class="text-sm font-semibold text-center cursor-pointer flex items-center justify-between">
                      Démarrer une conversation
                      <span x-text="isOpen ? '▲' : '▼'" class="ml-2 text-xs"></span> <!-- Toggle arrow -->
                  </h2>
              {% endif %}
      
              <ul x-show="isOpen" x-transition class="bg-white text-gray-800 rounded-lg mt-2 max-h-60 overflow-y-auto">
                  {% for user in app.user.followingUsers %}
                      <li class="border-b border-gray-300 hover:bg-gray-100 px-2">
                          <form action="{{ path('chatting') }}" method="POST">
                              <input type="hidden" value="{{ user.id }}" id="otherUserId" name="otherUserId">
                              <input type="submit" class="text-sm px-2 py-1 hover:text-red-700 hover:underline" value="{{ user.userName }}">
                          </form>
                      </li>
                  {% endfor %}
              </ul>
          </div>
      
   

        
        {% endif %}
        {% endif %}
      </div>

        {% block body %}{% endblock %}
        {# {% block javascripts %} #}
        {# <script src="{{ asset('cardDetail.js') }}"></script> #}
        {# {% block importmap %}{{ importmap('app') }}{% endblock %}  #}
        {# {% endblock %} #}
    </body>
</html>
