{% extends 'base.html.twig' %}

{% block title %}Gestion des decks{% endblock %}

{% block body %}
<h1>Bienvenue sur la page de gestion de vos decks</h1>

<main>

    {% for deck in userDecks %}
        {{ deck.deckName }}
        {{ deck.creationDate|date('d.m.Y H:i')}}
    {% endfor %}


    {{ form_errors(form) }}

    {{ form_start(form) }}

        {{ form_row(form.deckName) }}
        {{ form_row(form.status) }}

    {{ form_end(form) }}


</main>

{% endblock %}