{% extends 'base.html.twig' %}

{% block title %}Gestion des decks{% endblock %}

{% block body %}
<h1>Bienvenue sur la page de gestion de vos decks</h1>

<main>

    {# <a href="{{ path('create_deck') }}">créer un deck</a> #}

    {{ form_errors(form) }}

    {{ form_start(form) }}

        {{ form_row(form.deckName) }}
        {{ form_row(form.status) }}

    {{ form_end(form) }}


</main>

{% endblock %}