{% if searchForm %}


      {{ form_start(searchForm) }}
<div class="input-group flex flex-wrap justify-center w-full mb-8">

 <label for="Search" class="sr-only">Recherche sur le forum</label>
 
    <!-- Search input with custom Tailwind classes -->
    {{ form_widget(searchForm.q, {
        'attr': {
            'class': 'relative w-1/2 text-black rounded-md border-gray-200 p-2 py-2.5 pe-10 shadow-sm sm:text-sm border rounded-lg focus:outline focus:outline-black'
        }
    }) }}
    <span class="flex items-center">
      <button id="submitSearch" name="submit" type="submit" class="ml-1 p-1 text-white hover:text-gray-700 bg-gradient-purple rounded-md">
        <span class="sr-only">Recherche</span>
  
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-8 w-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
          />
        </svg>
      </button>
    </span>

    <!-- Toggle button to show/hide checkboxes -->
    <button id="toggleButton" type="button" class="ml-4 border border-white hover:bg-white hover:text-violet-900 text-white italic py-2 px-4 rounded">
      Filtrer par catégorie(s)
  </button>

  <!-- Forum SubCategories checkboxes with custom Tailwind styles -->
  <div id="checkboxContainer" class="grid grid-cols-4 w-full mt-4 space-y-1 hidden">
      {% for child in searchForm.forumSubCategories %}
          <div class="inline-flex items-center space-x-2">
              <!-- Checkbox with Tailwind classes -->
              {{ form_widget(child, {'attr': {'class': 'h-5 w-5 border border-gray-300 rounded checked:bg-gray-800 checked:border-gray-800'}}) }}
              
              <!-- Label for checkbox -->
              {{ form_label(child, null, {'label_attr': {'class': 'text-sm averia-serif-libre-light text-white'}}) }}
          </div>
      {% endfor %}
  </div>
</div>

  {{ form_end(searchForm) }}
{% endif %}

<script>
  // Vanilla JavaScript to toggle checkbox visibility
  document.getElementById('toggleButton').addEventListener('click', function() {
      const checkboxContainer = document.getElementById('checkboxContainer');
      checkboxContainer.classList.toggle('hidden'); // Toggle the hidden class
  });
</script>