{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le forum de Magic-Hub!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur le forum de Magic-Hub</h1>


    {% include "components/_search_data.html.twig" with {
        searchForm: searchForm ?? null
    } only %}


    {% for category in categories %}
       <h3>{{ category.forumCategoryName }}</h3> 

        {% for subCategory in category.subCategories %}
        <a href="{{ path('app_forum_topics', {id: subCategory.id}) }}">{{ subCategory.subCategoryName }}</a>
        {% endfor %} <br>
    {% endfor %}

    {% if researchToken is same as true %}
        <h3>Résultats de la recherche :</h3>
    {% endif %}
    {% if topics is empty %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}

    <div class="forum-wrapper">

        {% for topic in topics %}
        <div class="postCard">
            <p>
                Par {% if topic.user is same as null %}
                    <span class="italic">[profil supprimé]</span>
                    {% else %}
                    <a href="{{ path('app_profile', {'user': topic.user.userName}) }}" class="hover:underline p-1 border rounded">
                    {{ topic.user.userName }} 
                    </a>
                    {% endif %}
                    
                    {% if topic.editDate is same as null %}
                        posté le {{ topic.creationDate|date('d.m.Y H:i') }} ,
                        {% else %}
                        modifié le {{ topic.editDate|date('d.m.Y H:i') }}
                    {% endif %}
            </p>
            <a class="hover:bg-gray-100 border p-2" href="{{ path('app_forum_posts', {'id': topic.id}) }}">

                    <h3>
                        {{ topic.topicTitle }}
                    </h3>
                    
                    {% if app.user is same as topic.user and topic.user is not same as null %}
                    <a href="{{ path('edit_topic', {'id': topic.id}) }}">Modifier</a>
                    {# <a href="{{ path('lock_topic', {id : topic.id}) }}">Verrouiller</a> #} 
                    {% endif %}

            </a>
            </div>
        {% endfor %}
    </div>

    <div class="navigation flex justify-center mb-8">
        {{ knp_pagination_render(topics) }}        
    </div>
    
</div>

{% endblock %}
