{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le forum de Magic-Hub!{% endblock %}

{% block body %}

<div class="bolas flex flex-col justify-center items-center w-full">
    <div class="w-4/5  max-w-[1000px] bg-white bg-opacity-10 px-6 py-6 mt-8 text-white rounded-md">

        <div class="font-semibold text-4xl averia-serif-libre-regular flex justify-center mb-6">
            <h1 class=" px-8 py-2 rounded-md">Bienvenue sur le forum de Magic-Hub</h1>
        </div>
    <div x-data="{ showSubCategories: false }"  @click="showSubCategories = !showSubCategories" class="mb-8">
        <span class="w-full inline-flex justify-center text-sm italic cursor-pointer">Cliquez pour <span class="px-1" x-text="showSubCategories ? 'masquer' : 'afficher'"></span> les sous-catégories</span>
        <div  class="grid grid-cols-4 my-1  text-white rounded border border-white p-6 cursor-pointer">
            <!-- Toggle button to hide/show all subcategories -->
        
            {% for category in categories %}
                <div>
                    <h3 class="averia-serif-libre-bold text-xl p-2">{{ category.forumCategoryName }}</h3>
        
                    <!-- Subcategories section with Alpine.js conditional rendering -->
                    <div class="ml-3 space-y-1" x-show="showSubCategories" x-transition>
                        {% for subCategory in category.subCategories %}
                            <a href="{{ path('app_forum_topics', {id: subCategory.id}) }}" class="block averia-serif-libre-light text-white hover:underline">
                                {{ subCategory.subCategoryName }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
    </div>

        
        {% include "components/_search_data.html.twig" with {
            searchForm: searchForm ?? null
        } only %}



        {% if researchToken is same as true %}
            <h3 class="my-4">Résultats de la recherche :</h3>
        {% endif %}
        {% if topics is empty %}
            <p>Aucun résultat trouvé.</p>
        {% endif %}

        <div class="w-full max-w-4xl mx-auto">
            <div class="bg-white ">
                <table class="table-auto w-full text-left text-gray-700 text-sm">
                    <thead class="bg-gray-200 text-gray-700">
                        <tr>
                            <th class="px-4 py-2">Auteur</th>
                            <th class="px-4 py-2">Sujet</th>
                            <th class="px-4 py-2">Date</th>
                            {% if app.user %}
                                <th class="px-4 py-2">Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for topic in topics %}
                            <tr class="{% if loop.index is odd %}bg-gray-50{% else %}bg-white{% endif %}">
                                <td class="px-4 py-2">
                                    {% if topic.user is same as null %}
                                        <span class="italic text-gray-500">[Profil supprimé]</span>
                                    {% else %}
                                        <a href="{{ path('app_profile', {'user': topic.user.userName}) }}" class="text-violet-800 font-semibold hover:underline">
                                            {{ topic.user.userName }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="px-4 py-2">
                                    <a href="{{ path('app_forum_posts', {'id': topic.id}) }}" class=" font-semibold text-gray-800 hover:underline">
                                        {{ topic.topicTitle }}
                                    </a>
                                </td>
                                <td class="px-4 py-2">
                                    {% if topic.editDate is same as null %}
                                        posté le {{ topic.creationDate|date('d.m.Y H:i') }}
                                    {% else %}
                                        modifié le {{ topic.editDate|date('d.m.Y H:i') }}
                                    {% endif %}
                                </td>
                                {% if app.user is same as topic.user and topic.user is not same as null %}
                                    <td class="px-4 py-2">
                                        <a href="{{ path('edit_topic', {'id': topic.id}) }}" class="text-blue-500 hover:underline">Modifier</a>
                                        {# <a href="{{ path('lock_topic', {id: topic.id}) }}" class="text-red-500 hover:underline ml-4">Verrouiller</a> #}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="navigation flex justify-center mb-8">
            {{ knp_pagination_render(topics) }}        
        </div>
        
    </div>
</div>

{% endblock %}
