{% extends 'base.html.twig' %}

{% block title %}Liste des sujets{% endblock %}

{% block body %}

    <h1>Topics By SubCategory</h1>

    {% for topic in topics %}
        <a href="{{ path('app_forum_posts', {'id': topic.id}) }}">{{ topic.topicTitle }}</a>
    {% endfor %}

    {% if app.user %}
    {{ form_start(topicForm) }}
        {{form_row(topicForm.topicTitle)}}
    {{ form_end(topicForm) }}

    {% endif %}

    
{% endblock %}
