{% extends 'base.html.twig' %}

{% block title %}Posts by topics{% endblock %}

{% block body %}

<h1>{{ topic.topicTitle }}</h1>
{% if app.user is same as topic.user %}
    <a href="{{ path('edit_topic', {id: topic.id}) }}">Modifier</a>
    <a>Supprimer</a>
{% endif %}
{% if topic.editDate is same as null %}
    <p>posté par {{ topic.user.userName }} le {{ topic.creationDate|date('d.m.Y H:i') }} </p>
    {% else %}
    <p>posté par {{ topic.user.userName }} le {{ topic.creationDate|date('d.m.Y H:i') }} et modifié le {{ topic.editDate|date('d.m.Y H:i') }} </p>
{% endif %}


{% for post in posts %}
    <p>
        Par {{ post.user.userName }} <br>
        {% if post.editDate is same as null %}
            posté le {{ post.creationDate|date('d.m.Y H:i') }} ,
            {% else %}
            modifié le {{ post.editDate|date('d.m.Y H:i') }}
        {% endif %}
    </p>
    <p>
        {{ post.textContent }}
    </p>

    {% if app.user is same as post.user %}
        <a href="{{ path('edit_post', {'topic': topic.id, 'post': post.id}) }}">Modifier</a>
        <a href="{{ path('delete_post', {id : post.id}) }}">Supprimer</a>
    {% endif %}
{% endfor %}

<a href="{{ path('new_post', {id: topic.id}) }}">Répondre</a>

{% endblock %}
