{% extends 'base.html.twig' %}

{% block title %}Posts by topics{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>{{ topic.topicTitle }}</h1>
    {% if app.user is same as topic.user and topic.user is not same as null %}
        <a href="{{ path('edit_topic', {id: topic.id}) }}">Modifier</a>
        <a>Supprimer</a>
    {% endif %}
    {% if topic.editDate is same as null %}
        <p>posté par {% if topic.user is same as null %}
            <span class="italic">[profil supprimé]</span>
            {% else %}
            {{ topic.user.userName }} le {{ topic.creationDate|date('d.m.Y H:i') }} </p>
            {% endif %}
        {% else %}
        {% if topic.user is same as null %}
            <span class="italic">[profil supprimé]</span>
            {% else %}
        <p>posté par {{ topic.user.userName }} le {{ topic.creationDate|date('d.m.Y H:i') }} et modifié le {{ topic.editDate|date('d.m.Y H:i') }} </p>
        {% endif %}
    {% endif %}


    {% for post in posts %}
        <p>
            Par {% if post.user is same as null %}
            <span class="italic">[profil supprimé]</span>
                {% else %}
                <a href="{{ path('app_profile', {'user': topic.user.userName}) }}" class="hover:underline">
                    {{ post.user.userName }} 
                </a><br>
            {% endif %}
            {% if post.editDate is same as null %}
                posté le {{ post.creationDate|date('d.m.Y H:i') }} ,
                {% else %}
                modifié le {{ post.editDate|date('d.m.Y H:i') }}
            {% endif %}
        </p>
        <p>
            {{ post.textContent }}
        </p>

        {% if app.user is same as post.user and post.user is not same as null %}
            <a href="{{ path('edit_post', {'topic': topic.id, 'post': post.id}) }}">Modifier</a>
            <a href="{{ path('delete_post', {id : post.id}) }}">Supprimer</a>
        {% endif %}
    {% endfor %}
        {% if app.user %}
        <a href="{{ path('new_post', {topic: topic.id}) }}">Répondre</a>
        {% else %}
        <p class="italic">Vous devez être connecté pour répondre à un sujet</p>
        {% endif %}

    <div class="navigation flex justify-center mb-8">
        {{ knp_pagination_render(posts) }}        
    </div>
</div>

{% endblock %}
