{% extends 'base.html.twig' %}

{% block title %}Posts by topics{% endblock %}

{% block body %}

<h1>{{ topic.topicTitle }}</h1>
{% if app.user is same as topic.user %}
    <a href="{{ path('edit_topic', {id: topic.id}) }}">Modifier</a>
    <a>Supprimer</a>
{% endif %}

{% for post in posts %}

    <p>
        Message posté par {{ post.user.userName }} le 
        {% if post.creationDate is same as post.editDate %}
            {{ post.creationDate|date('d.m.Y H:i') }}
            {% else %}
            {{ post.editDate|date('d.m.Y H:i') }}
        {% endif %}
    </p>
    <p>
        {{ post.textContent }}
    </p>

    {% if app.user is same as post.user %}
        <a>Modifier</a>
        <a>Supprimer</a>
    {% endif %}

{% endfor %}


{% endblock %}
